{% extends "layout.html" %}
{% block title %}Bookflix{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}


{% block content %}

<div class="container p-5">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nombre</th>
				<th scope="col">Genero</th>
				<th scope="col">Autor</th>
				<th scope="col">Acciones</th>
			</tr>
		</thead>

		<tbody>
			{% for libro in libros %}
			<tr>
				<th scope="row">{{ libro.libro.id }}</th>
				<td><a href="{{ url_for('libro', libro_id=libro.libro.id) }}">{{ libro.libro.nombre }}</a></td>
				<td>{{libro.genero.nombre}}</td>
				<td><a href="{{ url_for('autor', autor_id=libro.autor.id) }}">{{ libro.autor.nombre }}</a></td>
				<td>
					<a
						class="material-icons btn btn-primary"
						title="Ver"
						href="{{ url_for('libro', libro_id=libro.libro.id) }}"
					>visibility</a>
					<a
						class="material-icons btn btn-info"
						title="Editar"
						href="{{ url_for('libro_edit', libro_id=libro.libro.id) }}"
					>edit</a>
					<a class="material-icons btn btn-danger disabled" title="Eliminar">delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
