{% extends "layout.html" %}
{% block title %}Bookflix{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}


{% block content %}

	<div class="container p-5">
		<div class="card mx-auto m-5" style="width: 40rem;">
			<div class="card-header">
				<h1 class="card-title">{{libro.nombre}}</h1>
			</div>
			
			<div class="card-body">
				<p> ISBN: {{libro.isbn}} </p>
				<p> {{editorial.nombre}} </p>
				<p><a href="{{ url_for('autor', autor_id=autor.id) }}"> {{autor.nombre}} </a></p>
				<p> {{genero.nombre}} </p>
				<p><a href="{{libro.ruta_img}}"> Portada </a></p>
				<p><a href="{{libro.ruta}}"> Leer </a></p>
				<p> Sinopsis: {{libro.sinopsis}} </p>
				{% if session.admin %}
				<p> Ativo: {{libro.activo}} </p>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}