<!-- https://getbootstrap.com/docs/4.4/components/navbar/ -->
<header class="sticky-top">
	<!-- Image and text -->
	<nav class="navbar" style="background-color: #000000">
		<a class="navbar-brand" href="{{ url_for('index') }}">
			<img src="{{ url_for('static', filename='img/logo25.png') }}"
				class="d-inline-block align-top"
				alt="Logo de Bookflix">
		</a>

		{% if session['id'] %}
			<h2 class="text-white">Bienvenido de vuelta</h2>
		{% endif %}

		<div class="text-right">
			{% if session['id'] %}
				<a href="{{ url_for('logout') }}" class="btn btn-danger">Cerrar Sesión</a>
			{% else %}
				<a href="{{ url_for('login') }}" class="btn btn-danger">Iniciar Sesión</a>
			{% endif %}
		</div>
	</nav>
</header>