<!-- https://getbootstrap.com/docs/4.4/components/navbar/ -->
<header class="sticky-top">
	<!-- Image and text -->
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="{{ url_for('index') }}">
			<img src="..." width="30" height="30" class="d-inline-block align-top" alt="">
			Bookflix
		</a>

		{% if session['usuario'] %}
			<h2>Bienvenido {{ session['usuario'] }}</h2>
		{% endif %}

		<div class="text-right">
			{% if session['usuario'] %}
				<a href="{{ url_for('logout') }}">Cerrar Sesión</a>
			{% else %}
				<a href="#">Registrarse</a>
				<span class="p-2"></span>
				<a href="{{ url_for('login') }}">Iniciar Sesión</a>
			{% endif %}
		</div>
	</nav>
</header>