<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Metadatos -->
        <meta charset="UTF-8">
        
        <!-- Estilos -->
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/CSS/bootstrap.css')}}" />
        
        <!-- JavaScript -->
        <script src="{{ url_for('static', filename='../static/JS/jquery.min.js')}}"></script>
        <script src="{{ url_for('static', filename='../static/JS/bootstrap.js')}}"></script>
        <script src="{{ url_for('static', filename='../static/JS/bootstrap.bundle.js')}}"></script>
        
        <!-- Iconos -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='icono.png') }}">

        <!-- Título -->
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <!-- Header -->
        {% block header %}
            {% include '/header.html' %}
        {% endblock %}

        {% block content %}
            
        {% endblock %}
        
        <!-- Footer -->
        {% block footer %}
            {% include '/footer.html' %}
        {% endblock %}
    </body>
</html>